<h2>Mais detalhes do Programador</h2>

<div class="row">
    <div class="col-md-3"><b>Nome:</b></div><div class="col-md-3">{{ProgramadorDetails.Nome}}</div>
</div>
<div class="row">
    <div class="col-md-3"><b>Skype:</b></div><div class="col-md-3">{{ProgramadorDetails.Skype}}</div>
</div>
<div class="row">
    <div class="col-md-3"><b>Telefone:</b></div><div class="col-md-3">{{ProgramadorDetails.Telefone}}</div>
</div>
<div class="row">
    <div class="col-md-3"><b>Linkedin:</b></div><div class="col-md-3">{{ProgramadorDetails.Linkedin}}</div>
</div>
<div class="row">
    <div class="col-md-3"><b>Cidade:</b></div><div class="col-md-3">{{ProgramadorDetails.Cidade}}</div>
</div>
<div class="row">
    <div class="col-md-3"><b>Estado:</b></div><div class="col-md-3">{{ProgramadorDetails.Estado}}</div>
</div>
<div class="row">
    <div class="col-md-3"><b>Portifolio:</b></div><div class="col-md-3">{{ProgramadorDetails.Portifolio}}</div>
</div>  
<div class="row">
    <div class="col-md-3"><b>Disponibilidade:</b></div><div class="col-md-3">{{ProgramadorDetails.Disponibilidade}}</div>
</div>  
<div class="row">
    <div class="col-md-3"><b>Salario pretendido:</b></div><div class="col-md-3">{{ProgramadorDetails.Salario}}</div>
</div>  
<div class="row">
    <div class="col-md-3"><b>Horario de Trabalho:</b></div><div class="col-md-3">{{ProgramadorDetails.HorarioTrab}}</div>
</div>  
<div class="row">
    <div class="col-md-3"><b>Email:</b></div><div class="col-md-3">{{ProgramadorDetails.Email}}</div>
</div>  

   